{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/transform-runtime"],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.production"
          }
        ]
      ]
    }
  }
}
